{% extends "base.html" %}

{% block title %}조사표 상세 - {{ app_name }}{% endblock %}

{% block content %}
<h2 class="mb-4">
    <i class="bi bi-file-text"></i> 조사표 상세 정보
</h2>

<div class="section-card">
    <h5>기본 정보</h5>
    <table class="table">
        <tr><th width="30%">성명</th><td>{{ survey.name }}</td></tr>
        <tr><th>부서</th><td>{{ survey.department }}</td></tr>
        <tr><th>나이</th><td>{{ survey.age }}세</td></tr>
        <tr><th>제출일</th><td>{{ survey.submission_date.strftime('%Y-%m-%d %H:%M') }}</td></tr>
    </table>
</div>

<div class="section-card">
    <h5>통증 정보</h5>
    <table class="table">
        <tr><th width="30%">목</th><td>{{ survey.neck_pain }}/10</td></tr>
        <tr><th>어깨</th><td>{{ survey.shoulder_pain }}/10</td></tr>
        <tr><th>팔/팔꿈치</th><td>{{ survey.arm_pain }}/10</td></tr>
        <tr><th>손/손목</th><td>{{ survey.hand_pain }}/10</td></tr>
        <tr><th>등</th><td>{{ survey.back_pain }}/10</td></tr>
        <tr><th>허리</th><td>{{ survey.waist_pain }}/10</td></tr>
        <tr><th>다리/무릎/발</th><td>{{ survey.leg_pain }}/10</td></tr>
    </table>
</div>

<a href="{{ url_for('survey.my_surveys') }}" class="btn btn-primary">목록으로</a>
{% endblock %}